<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/style.css}"
          href="../static/styles/style.css">
    <title>Album</title>
</head>
<body>
<h1>Welcome to the Album page </h1>
<div class="flex-container">
    <div class="album">
    <p>Album ID : <span th:text="${album.id}"></span></p>
        <p>Album Title : <span th:text="${album.title}"></span></p>
        <p>Artist : <span th:text="${album.artist}"></span></p>
        <p>Album Song Count: <span th:text="${album.songCount}"></span></p>
        <p>Album length : <span th:text="${album.length}"></span></p>
        <img th:src="${album.imageUrl}" alt="">
    </div>
</div>


<div class="flex-container">
    <div class="album" th:each="song : ${album.songs}">
        <p>Song ID : <span th:text=${song.id}></span></p>
        <p>Song Title : <span th:text=${song.title}></span></p>
        <p>Album Number : <span th:text=${song.trackNumber}></span></p>
        <p>Song length : <span th:text=${album.length}></span></p>

    </div>
</div>
</body>
</html>