<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/style.css}"
          href="../static/styles/style.css">
    <title>Home</title>
</head>
<body>
<div class="header">
    <a href="#defult" class="logo"> Songr</a>

    <div class="header-right">
        <a class="active" href="#">Home</a>
        <a href="album/1">Albums</a>
        <a href="songs">Songs</a>
        <a href="addSongs">Add Song</a>
        <a href="addAlbum">Add Album</a>

    </div>
</div>
<div style="padding-left:20px"></div>
</body>
</html>